# Build files and folders
.gradle/
build/

# Properties
local.properties

# Idea
.idea/
**/*.iml

# Mac OS
.DS_Store

# Layout Inspector files
captures/

# Kotlin
.kotlin/

# iOS
*.generated.swift
**/xcuserdata/
DerivedData/
/.derivedData/
*.xcuserstate
*.xcbkptlist
**/.swiftpm/
**/SourcePackages/
*Info.plist
